.num-pad {
  max-width: 290px;
  margin: 20px auto 0;
}

.num-pad .span4 {
  width: 80px;
  float: left;
  margin: 0 8px 10px 8px;
}

.num-pad .num {
  border: 1px solid #9e9e9e;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  -moz-border-radius: 999px;
  height: 80px;
  background-color: #fff;
  cursor: pointer;
}

.num-pad .num:hover {
  background-color: #9e9e9e;
  color: #fff;
  transition-property: background-color .2s linear 0s;
  -moz-transition: background-color .2s linear 0s;
  -webkit-transition: background-color .2s linear 0s;
  -o-transition: background-color .2s linear 0s;
}

.num-pad .txt {
  font-size: 30px;
  text-align: center;
  margin-top: 24px;
  line-height: 30px;
  color: #fa981c;
}

.num-pad .small {
  font-size: 15px;
}
