.mrg10T {
  margin-top: 10px;
}

.mrg10L {
  margin-left: 10px;
}

.mrg10B {
  margin-bottom: 10px;
}

.mrg10R {
  margin-right: 10px;
}

.fa-plus {
  color: blue;
}

#button_them_phep_toan, #button_them_bieu_thuc {
  cursor: pointer;
}

.bai-toan .input-ket-qua {
  display: inline;
  width: auto;
  max-width: 160px;
}

.bai-toan.shown {
  display: block;
}

.bai-toan.current {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.bai-toan.current span {
  display: block;
}

.checkbox-custom {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-left: 6px;
}

.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.cac-bai-toan-va-thanh-dieu-huong-wrapper {
  position: relative;
}

.thanh-dieu-huong-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.thanh-dieu-huong-wrapper .next, .thanh-dieu-huong-wrapper .prev {
  font-size: 40px;
  color: blue;
  cursor: pointer;
}

.thanh-dieu-huong-wrapper .next.disabled, .thanh-dieu-huong-wrapper .prev.disabled {
  color: gray;
  cursor: default;
}

.thanh-dieu-huong-wrapper .next {
  float: right;
}

.thong-tin-hien-thi {
  text-align: right;
}

.ket-qua.dung-100 {
  color: #28a745;
  font-weight: bold;
}
