.mrg10T {
  margin-top: 10px;
}

.mrg10L {
  margin-left: 10px;
}

.mrg10B {
  margin-bottom: 10px;
}

.mrg10R {
  margin-right: 10px;
}

.fa-plus {
  color: blue;
}

.navbar.navbar-custom {
  padding: .3rem 1rem;
  justify-content: center;
}

@media (min-width: 992px) {
  .navbar.navbar-custom {
    justify-content: space-between;
  }
}

.category {
  cursor: pointer;

  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.category img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.category:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  /*filter: brightness(0.8);
  -webkit-filter: brightness(0.8);*/

  border: 1px solid #f9981c;
  border-radius: 10px;
}

.an-hien-bieu-thuc, .an-hien-phep-so-sanh {
  float: right;
  color: blue;
  cursor: pointer;
}

#input_thoi_gian_cho_1_bai_toan, #pss_input_thoi_gian_cho_1_bai_toan {
  width: 250px;
  margin-left: 15px;
}

#button_them_phep_toan, #button_them_bieu_thuc {
  cursor: pointer;
}

.bai-toan .input-ket-qua {
  display: inline;
  width: auto;
  max-width: 160px;
}

.bai-toan .pss-input-ket-qua {
  display: inline;
  text-align: center;
  width: 100px;
  margin: 0 10px;
}

.bai-toan.shown {
  display: block;
}

.bai-toan.current {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
}

.bai-toan.current .input-ket-qua {
  font-size: 1.5rem;
  text-align: center;
}

.bai-toan.current .pss-input-ket-qua {
  width: 120px;
  margin: 30px;
  font-size: 1.5rem;
  display: none;
}

.bai-toan-theo-bieu-thuc.current span {
  display: block;
}

.bai-toan-so-sanh .pss-span-ket-qua {
  display: none;
  width: 40px;
  height: auto;

  margin: 0 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 2px solid #f9981c;
}

.bai-toan-so-sanh .pss-span-ket-qua.active {
  color: #f9981c;
}

.bai-toan-so-sanh.current .pss-span-ket-qua {
  display: inline-block;
}

.bai-toan-so-sanh.current .pss-keyboard {
  display: block;
}

.pss-keyboard {
  display: none;
  margin-top: 30px;
}

.pss-keyboard span {
  display: inline-block;
  width: 40px;
  height: auto;
  border: 2px solid #84d8f8;
  margin: 0 10px;
  cursor: pointer;
  color: #84d8f8;
  font-weight: bold;
}

.pss-keyboard span:hover, .pss-keyboard span.current {
  border-color: #f9981c;
  color: #f9981c;
}

.checkbox-custom {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-left: 6px;
}

.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.form-tao-bai-toan-so-sanh input {
  width: 100px;
}

.cac-bai-toan-va-thanh-dieu-huong-wrapper {
  position: relative;
}

.thanh-dieu-huong-wrapper .next, .thanh-dieu-huong-wrapper .prev {
  font-size: 40px;
  color: #f9981c;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.thanh-dieu-huong-wrapper .next.disabled, .thanh-dieu-huong-wrapper .prev.disabled {
  color: gray;
  cursor: default;
}

.thanh-dieu-huong-wrapper .next {
  right: 0;
}

.thong-tin-them-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.thong-tin-thoi-gian {
  margin-right: 50px;
}

.thong-tin-thoi-gian .so-giay-con-lai {
  color: #f9981c;
}

.ket-qua.dung-100 {
  color: #28a745;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .form-control.input-so, .bai-toan:not(.current) .input-ket-qua {
    width: 100px;
  }

  #button_them_phep_toan {
    margin-top: 10px;
  }

  .bieu-thuc-card .card-body {
    padding-bottom: 0;
  }
}
