.mrg10T {
  margin-top: 10px;
}

.mrg10L {
  margin-left: 10px;
}

.mrg10B {
  margin-bottom: 10px;
}

.mrg10R {
  margin-right: 10px;
}

.fa-plus {
  color: blue;
}

#button_them_phep_toan, #button_them_bieu_thuc {
  cursor: pointer;
}

.bai-toan .input-ket-qua {
  display: inline;
  width: auto;
  max-width: 160px;
}

.ket-qua.dung-100 {
  color: #28a745;
  font-weight: bold;
}
